<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include partials/template/head.ejs %>
        <% include partials/template/jsheader.ejs %>
    </head>
    <body>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <% include partials/template/navbar.ejs %>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1><%= conf.get('page:head:title') %></h1> <!--  -->
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

       <div class="container">
            <script>
                /**
                 * Suppress natural events and return false.
                 *  $('form#address').submit(function(event) {
                 *   ...
                 *   ...
                 *   return suppress(event);
                 *  });
                 *  event.returnValue is deprecated. Please use the standard event.preventDefault() instead.
                 * @param event
                 * @returns {boolean}
                 */
                function suppress(event) {
                    if (!event)
                        return false;
                    if (event.preventDefault)
                        event.preventDefault();
                    if (event.stopPropagation)
                        event.stopPropagation();
                    if (event.cancelBubble)
                        event.cancelBubble = true;
                    return false;
                }
                var app = angular.module( 'App', [ 'ngResource', 'ngRoute', 'ngAnimate' ] );
                app.service( 'ProfileService',[ '$resource', function ( $resource ) {
                    return $resource('/rest/v1/profiles/:id/', {}, {
                        query:  { method: 'GET',   params:  {    page: 0,
                                                                limit: 5
                                                            }, isArray: false  },
                        save:   { method: 'POST' , headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8' } },
                        update: { method: 'PUT'  , headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8' } },
                        remove: { method: 'DELETE' }
                    });
                }]);
                app.controller('GridController', [ '$rootScope','$scope', 'ProfileService', function ( $rootScope, $scope, ProfileService ) {
                    angular.extend($scope, {
                        currentparameter : {
                            page: 0,
                            limit: 10,
                            criteria: null
                        },
                        onClickNavigate: function( e, direction, arg ) {
                            if ( direction == 'back' ) {
                                $scope.currentparameter.page--;
                                $scope.servicelistresult = ProfileService.query( $scope.currentparameter );
                            } else if ( direction == 'forward' ) {
                                $scope.currentparameter.page++;
                                $scope.servicelistresult = ProfileService.query($scope.currentparameter);
                            } else if ( direction == 'goto' ) {
                                $scope.currentparameter.page=arg;
                                $scope.servicelistresult = ProfileService.query($scope.currentparameter);
                            }
//                            } else if ( direction == 'new' ) {
//                                var modalInstance = $modal.open({
//                                    templateUrl: "partials/form.html",
//                                    controller: "FormController",
//                                    size: 'sm',
//                                    resolve: {
//                                        currentModel: function ( $q, $route, $rootScope, $location, $timeout, Service ) {
//                                            var deferred = $q.defer();
//                                            deferred.resolve( {
//                                                id:null,
//                                                active:false,
//                                                published:null,
//                                                expiry:null,
//                                                title:null,
//                                                content:null
//                                            } );
//                                            return deferred.promise;
//                                        }
//                                    }
//                                });
//                            } else if ( direction == 'edit' ) {
//                                var modalInstance = $modal.open({
//                                    templateUrl: "partials/form.html",
//                                    controller: "FormController",
//                                    size: 'sm',
//                                    resolve: {
//                                        currentModel: function ( $q, $route, $rootScope, $location, $timeout, Service ) {
//                                            var deferred = $q.defer();
//                                            Service.query( { id: arg } ).$promise.then(function( result ){
//                                                if ( result == null || result.messages.length != 0 ) {
//                                                    deferred.reject( "An Error occurred" );
//                                                } else {
//                                                    console.log('got it!', result.results[0]);
//                                                    deferred.resolve( result.results[0] );
//                                                }
//                                            });
//                                            return deferred.promise;
//                                        }
//                                    }
//                                });
//                             }
                            return suppress( e );
                        }
                    });
//                    $rootScope.$emit("loadingmask",true);
                    $scope.servicelistresult = ProfileService.query( $scope.currentparameter );

                }]);
            </script>

           <div ng-app="App" class="row" >
               <div ng-controller="GridController" style="height: 100%" >
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h1>List All Profiles</h1>
                       </div>
                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table table-bordered table-striped">
                                   <thead>
                                    <tr>
                                        <th>
                                           <table>
                                               <tr>
                                                   <td>First Name</td>
                                                   <td>
                                                       <span id="published-toggle" class="app-pointer glyphicon glyphicon glyphicon-sort glyphicon-sort-by-attributes" ng-click="onClickSort( $event, 'published' )"></span>
                                                   </td>
                                               </tr>
                                           </table>
                                        </th>
                                        <th>
                                           <table>
                                               <tr>
                                                   <td>Middle Name</td>
                                                   <td>
                                                       <span id="published-toggle" class="app-pointer glyphicon glyphicon glyphicon-sort glyphicon-sort-by-attributes" ng-click="onClickSort( $event, 'published' )"></span>
                                                   </td>
                                               </tr>
                                           </table>
                                        </th>
                                        <th>
                                           <table>
                                               <tr>
                                                   <td>Last Name</td>
                                                   <td>
                                                       <span id="published-toggle" class="app-pointer glyphicon glyphicon glyphicon-sort glyphicon-sort-by-attributes" ng-click="onClickSort( $event, 'published' )"></span>
                                                   </td>
                                               </tr>
                                           </table>
                                        </th>
                                    </tr>
                                   </thead>
                                   <tbody>
                                       <tr ng-repeat="item in servicelistresult.results">
                                           <td>{{item.name.first}}</td>
                                           <td>{{item.name.middle}}</td>
                                           <td>{{item.name.last}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                       <div class="panel-footer">
                           <div class="container-fluid">
                               <div class="row">
                                   <div class="col-xs-4 col-xs-offset-4 col-xs-offset-0 col-sm-offset-4">



                                       <nav>
                                           <ul class="pagination" >
                                               <li ng-disabled="{{servicelistresult.page == 0}}"
                                                   ng-click="onClickNavigate( $event, 'back' )"><a href="#">&laquo;</a></li>
                                           </ul>
                                           <ul class="pagination" ng-repeat="item in servicelistresult._links">
                                               <li ng-class="{ 'active': item.current }"><a href="#" ng-click="onClickNavigate( $event, 'goto', item.page )">{{item.page}}<!-- <span class="sr-only">(current)</span> --></a></li>
                                           </ul>
                                           <ul class="pagination">
                                               <li ng-disabled="{{servicelistresult.page == 0}}"
                                                   ng-click="onClickNavigate( $event, 'forward' )"><a href="#">&raquo;</a></li>
                                           </ul>
                                       </nav>

                                       <!--
                                       <ul class="pager">
                                           <li>
                                               <button ng-attr-class="{{printPageButtonCSSClass('back', servicelistresult.page,servicelistresult.limit,servicelistresult.total)}}" ng-disabled="{{servicelistresult.page == 0}}" ng-click="onClickNavigate( $event, 'back' )">&larr; Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                           </li>
                                           <li>
                                               <button ng-attr-class="{{printPageButtonCSSClass('forward', servicelistresult.page,servicelistresult.limit,servicelistresult.total)}}" ng-disabled="{{servicelistresult.page == 0}}" ng-click="onClickNavigate( $event, 'forward' )">Forward &rarr;</button>
                                           </li>
                                       </ul>
                                       -->
                                   </div>

                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

            <% include partials/template/footer.ejs %>
        </div> <!-- /container -->

        <% include partials/template/jsfooter.ejs %>
    </body>
</html>
