<!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <% include partials/template/head.ejs %>
        <% include partials/template/jsheader.ejs %>
    </head>
    <body>

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <% include partials/template/navbar.ejs %>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>Hello, world!</h1>
                <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

       <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Heading</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <hr>
            <script>
                var app = angular.module( 'App', [ 'ngResource', 'ngRoute', 'ngAnimate' ] );
                app.service( 'ProfileService',[ '$resource', function ( $resource ) {
                    return $resource('/profiles/:id/', {}, {
                        query:  { method: 'GET',   params:  {    skip: 0,
                                                                limit: 10
                                                            }, isArray: false  },
                        save:   { method: 'POST' , headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8' } },
                        update: { method: 'PUT'  , headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8' } },
                        remove: { method: 'DELETE' }
                    });
                }]);
                app.controller('GridController', [ '$rootScope','$scope', 'ProfileService', function ( $rootScope, $scope, ProfileService ) {
                    angular.extend($scope, {
                        currentparameter : {
                            skip: 0,
                            limit: 10,
                            criteria: null
                        }
                    });
//                    $rootScope.$emit("loadingmask",true);
                    $scope.servicelistresult = ProfileService.query( $scope.currentparameter );
                }]);
            </script>

           <div ng-app="App" class="row" >
               <div ng-controller="GridController" style="height: 100%" >
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h1>List All Profiles</h1>
                       </div>
                       <div class="panel-body">
                           <div class="table-responsive">
                               <table class="table table-bordered table-striped">
                                   <thead>
                                    <tr>
                                        <th>
                                           <table>
                                               <tr>
                                                   <td>First Name</td>
                                                   <td>
                                                       <span id="published-toggle" class="app-pointer glyphicon glyphicon glyphicon-sort glyphicon-sort-by-attributes" ng-click="onClickSort( $event, 'published' )"></span>
                                                   </td>
                                               </tr>
                                           </table>
                                        </th>
                                        <th>
                                           <table>
                                               <tr>
                                                   <td>Middle Name</td>
                                                   <td>
                                                       <span id="published-toggle" class="app-pointer glyphicon glyphicon glyphicon-sort glyphicon-sort-by-attributes" ng-click="onClickSort( $event, 'published' )"></span>
                                                   </td>
                                               </tr>
                                           </table>
                                        </th>
                                        <th>
                                           <table>
                                               <tr>
                                                   <td>Last Name</td>
                                                   <td>
                                                       <span id="published-toggle" class="app-pointer glyphicon glyphicon glyphicon-sort glyphicon-sort-by-attributes" ng-click="onClickSort( $event, 'published' )"></span>
                                                   </td>
                                               </tr>
                                           </table>
                                        </th>
                                    </tr>
                                   </thead>
                                   <tbody>
                                   <tr ng-repeat="item in servicelistresult.results">
                                       <td>{{item.name.first}}</td>
                                       <td>{{item.name.middle}}</td>
                                       <td>{{item.name.last}}</td>
                                   </tr>
                                   </tbody>
                               </table>
                           </div>
                       </div>
                       <div class="panel-footer">
                           <div class="container-fluid">
                               <div class="row">
                                   <div class="col-xs-4 col-xs-offset-4 col-xs-offset-0 col-sm-offset-4">
                                       <ul class="pager">
                                           <li>
                                               <button ng-attr-class="{{printPageButtonCSSClass('back', servicelistresult.page,servicelistresult.limit,servicelistresult.total)}}" ng-disabled="{{servicelistresult.page == 0}}" ng-click="onClickNavigate( $event, 'back' )">&larr; Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                           </li>
                                           <li>
                                               <button ng-attr-class="{{printPageButtonCSSClass('forward', servicelistresult.page,servicelistresult.limit,servicelistresult.total)}}" ng-disabled="{{servicelistresult.page == 0}}" ng-click="onClickNavigate( $event, 'forward' )">Forward &rarr;</button>
                                           </li>
                                       </ul>
                                   </div>
                                   <div class="col-xs-4">
                                       <a style="margin: 20px;" class="btn btn-primary btn-md" role="button" ng-click="onClickNavigate( $event, 'new' )">New</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>

            <% include partials/template/footer.ejs %>
        </div> <!-- /container -->

        <% include partials/template/jsfooter.ejs %>
    </body>
</html>
